# API URL (Optional - use if frontend and backend are hosted separately)
# Example: VITE_API_URL=https://your-backend-api.com
VITE_API_URL=

# EmailJS Configuration
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=

# Gemini API Key
GEMINI_API_KEY=
